@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #374151;
    /* gray-700 */
    border-radius: 20px;
}

body {
    background-color: #111827;
    /* gray-900 */
    color: white;
}