# Dependencies
client/node_modules/
server/node_modules/

# Environment variables
server/.env

# Build files
client/dist/
client/build/

# Cache
client/.vite/
.cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/